body, html {
    scroll-behavior: smooth;
}

#splash-img {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("https://source.unsplash.com/6NwrVDNsTx4");
}

#activity-splash-img {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("https://source.unsplash.com/ZXo2HvlYJWQ");
}

.bg-blur {
    backdrop-filter: blur(1px);
}

/*
    en-5xoYnjTE

*/