body, html {
    scroll-behavior: smooth;
}

#splash-img {
    background-image: url("https://source.unsplash.com/6NwrVDNsTx4");
}

.bg-blur {
    backdrop-filter: blur(1px);
}

/*
    en-5xoYnjTE

*/